[Unit]
Description=Consul is a tool for service discovery and configuration
Documentation=https://consul.io
After=network-online.target
Wants=network-online.target
After=rsyslog.service
Wants=rsyslog.service

[Service]
ExecStart=/usr/bin/consul agent -config-dir={{ consul_config_dir }} -data-dir={{ consul_data_dir }}
ExecReload=-/bin/kill -HUP $MAINPID
KillSignal=SIGINT
LimitNOFILE=65536
Restart=on-success
IgnoreSIGPIPE=yes

[Install]
WantedBy=multi-user.target