#!/bin/bash

{% if inventory_hostname == consul_leader %}
/usr/bin/consul agent \
    -server \
    -config-dir /etc/consul.d \
    -bootstrap-expect {{ consul_size }}
{% endif %}

{% if inventory_hostname != consul_leader and consul_mode == "server" %}
/usr/bin/consul agent \
    -server \
    -config-dir /etc/consul.d \
    -join {{ consul_leader }}.{{ host_domain }}
{% endif %}

{% if inventory_hostname != consul_leader and consul_mode == "agent" %}
/usr/bin/consul agent \
    -config-dir /etc/consul.d \
    -join {{ consul_leader }}.{{ host_domain }}
{% endif %}
