[program:exhibitor]
command= "{{ customized_bin_dir }}/start_exhibitor.sh"
autostart=true
autorestart=true
startretries=999
redirect_stderr=True
nodaemon = False
debug = False
stdout_logfile = /var/log/exhibitor.out
stderr_logfile = /var/log/exhibitor.err
loglevel = "{{ zk_log_level }}"
stopasgroup=true
