[program:kong-database]
command= /opt/bin/start_kong_database.sh
autostart=true
autostart=true
autorestart=true
startretries=999
redirect_stderr=True
nodaemon = False
debug = False
loglevel = "info"
stopasgroup=true