#!/bin/bash

CONTAINER_NAME=kong-database

docker rm -f $CONTAINER_NAME
docker run -i --name $CONTAINER_NAME \
	--net=host \
	-v /var/lib/cassandra:/var/lib/cassandra:rw \
	cassandra:{{ cassandra_version }}