[Unit]
Description=Traefik is a modern HTTP reverse proxy and load balancer
Documentation=https://docs.traefik.io/
After=network-online.target
Wants=network-online.target

[Service]
User=root
ExecStartPre=/bin/touch "{{ traefik_log_dir }}/access.log"
ExecStartPre=/bin/touch "{{ traefik_log_dir }}/traefik.log"
ExecStart=/usr/bin/traefik --c "{{ traefik_config_dir }}/traefik.toml"
ExecReload=-/bin/kill -HUP $MAINID
KillSignal=SIGINT
LimitNOFILE=65536
Restart=on-failure

[Install]
WantedBy=multi-user.target
Restart=on-failure
